{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-css-modules",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "at-rule-no-unknown": null
  }
}
