@using AspNetWebpack.AssetHelpers

@inject IAssetService AssetService

@{
    var bundle = ViewData.GetBundleName() ?? Html.GetBundleName();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetWebpack</title>
    @await RenderSectionAsync("Head", required: false)

    @await AssetService.GetLinkTagAsync("Vendors")
    @await AssetService.GetLinkTagAsync("Commons")
    @await AssetService.GetLinkTagAsync(bundle, "Layout");
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="container text-center mt-5">
        @RenderBody()
    </div>

    @await AssetService.GetScriptTagAsync("runtime", ScriptLoad.Defer)
    @await AssetService.GetScriptTagAsync("Vendors", ScriptLoad.Defer)
    @await AssetService.GetScriptTagAsync("Commons", ScriptLoad.Defer)
    @await AssetService.GetScriptTagAsync(bundle, "Layout", ScriptLoad.Defer);
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
