{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@babel"
  ],
  "parser": "@babel/eslint-parser",
  "settings": {
    "import/resolver": "webpack"
  }
}
